{% extends 'base.html' %}

{% block body %}
{% load static %}
<div class="about_section layout_padding">
    <div class="container">
       <div class="about_section_main">
          <div class="row">
             <div class="col-md-6">
                <div class="about_taital_main">
                   <h3 class="about_taital">About {{product.name}}</h3>
                   <p class="about_text">{{product.description}}</p>
                   {% comment %} <div class="readmore_bt"><a href="#">Read More</a></div> {% endcomment %}
                </div>
             </div>
             <div class="col-md-6">
                <div><img src={{product.image.url}} class="image_3"></div>
                <div class="btn_main">
                    <div class="buy_bt">
                        <ul>
                            <li class=""><a target="_blank" href="{{product.link}}">Checkout Now!</a></li>
                        </ul>
                    </div>
                    <h3 class="price_text">Price $30</h3>
                </div>
             </div>
             
          </div>
       </div>
    </div>
 </div>
{% endblock body %}